/* Write your CSS here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 40px;
}
.web-logo {
  width: 40px;
  height: 40px;
}
.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hamburger-icon {
  width: 20px;
  height: 20px;
}
/* pop up */
.modal-container {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.close-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.page-links-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logos {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
